<h1><%= Taxi.full_name(@taxi) %></h1>

<h2> Review Information</h2>



<table class="table table-hover">
  <% @answers.each do |ans| %>
  <tr>
    <td><%= Question.where(id: ans.question_id).first.content %></td>
    <td><%= ans.content %></td>
    <td><%= ans.created_at.strftime("%b %d, %Y") %></td>
  </tr>
  <% end %>
</table>
