
<div class='container'>

  <div class="row">
    <div class="background-image hidden-sm hidden-xs hidden-md"></div>

    <div class="col-md-8 col-md-offset-1">
      <div class='content center center_div'>
        <div class='search-taxi'>
          <%= form_tag survey_new_path, method: :get do %>
            <div class='input-group'>
              <%= text_field_tag :search, params[:search], id: 'search-bar' %>
              <%= submit_tag "Rate My Taxi", name: nil, id: 'search-button', class: 'btn btn-default' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row hidden-sm hidden-xs hidden-md">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h1>About Rate My Taxi  Terms of Service ETC.</h1>
  </div>

</div>
