  <div class="row center">
      <div class="col-md-3 col-md-offset-3">
        <p><b>Start Date:</b></p>
        <%= date_field_tag :date_start, params[:date_start], id: 'dateStart' %>
      </div>
      <div class='col-md-3'>
        <p><b>End Date:</b></p>
        <%= date_field_tag :date_end, params[:date_end], id: 'dateEnd' %>
      </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-4">
        <%= submit_tag "Update Date Range", name: nil, id: 'dateRangeButton', class: 'btn btn-sm btn-primary' %>
    </div>
  </div>
