
<div class='container center_div'>



      <div id='logo'>Rate My Taxi</div>

      <div class='search'>
          <div class='input-group'>
            <input type='text' class='form-control' placeholder = "Taxi Number">
          </div>
      </div>
      <div class='center'>
        <div class="btn btn-md">Find Taxi</div>
      </div>
</div>
